html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #162835;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1.6px;
}

.stars {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 106px;
    margin: 0 auto;
    background-image: url('../img/stars.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.field {
    display: block;
    position: absolute;
    width: 100%;
    height: 240px;
    bottom: 0;
    background-image: url('../img/bg_01.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

a {
    text-decoration: none;
    color: #29BFCA;
}

a:active,
a:focus,
a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: #29BFCA;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    margin-bottom: -16px;
    letter-spacing: 1.6px;
    font-size: 36px;
    color: #fff;
}

h5 {
    display: block;
    margin: 0;
    font-size: 14px;
    color: #ffffff;
    position: relative;
    font-weight: 500;
    margin-bottom: 32px;
    letter-spacing: 0.6px;
}

.msg {
    text-align: center;
    font-size: 10px;
    color: #dcd6cf;
    text-transform: uppercase;
    font-weight: 500;
}

.main-block {
    color: #fff;
    width: 384px;
    margin: 0 auto;
    position: relative;
    top: 25%;
    transform: translateY(-25%);
}

.main-block .logotype-block {
    text-align: center;
    z-index: 99999;
    position: relative;
}

.main-block .available-block {
    text-align: center;
}

.main-block .testnet-notice {
    text-align: center;
}

.main-block .send-form {
    margin-top: 32px;
    position: relative;
}

.available-block {
    color: #9b9d9e;
}

.input {
    height: 48px;
    line-height: 48px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dcd6cf;
    display: block;
    width: 100%;
    background: none;
    color: #96499C;
    font-size: 22px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 3.2px;
}

.input:active,
.input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #2E3A46;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.8px;
}

::-moz-placeholder {
    color: #2E3A46;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.8px;
}


/* Firefox 19+ */

:-moz-placeholder {
    color: #2E3A46;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.8px;
}


/* Firefox 18- */

:-ms-input-placeholder {
    color: #2E3A46;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.8px;
}

.button {
    display: inline-block;
    line-height: 1;
    text-transform: uppercase;
    padding: 16px 42px;
    border: 2px solid #20b2b5;
    margin-top: 16px;
    cursor: pointer;
    width: 100%;
    height: 52px;
    text-align: center;
    font-size: 16px;
    color: #20b2b5;
    background: none;
}

.button:hover {
    background: #20b2b5;
    color: #fff;
}

.transactions-list {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 600px;
    height: 100px;
    margin-left: -300px;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.table tr td {
    padding: 16px;
}

.table tbody tr {
    font-size: 16px;
}

#recaptcha_area {
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.g-recaptcha {
    margin-left: 40px;
}

.footer {
    color: #fff;
    display: block;
    position: absolute;
    font-weight: 300;
    text-align: center;
    width: 100%;
    // margin-top: 32px;
    // margin-bottom: 32px;
    bottom: 16px;
    font-size: 14px;
}

.footer a {
    color: #20b2b5;
    text-decoration: none;
}

.footer a:active,
.footer a:focus,
.footer a:hover {
    text-decoration: underline;
}

.footer a:visited {
    text-decoration: none;
    color: #20b2b5;
}

.error {
    padding: 8px;
    background-color: red;
}

.error p {
    font-size: 14px;
    margin: 0px;
    text-align: center;
}

.txId {
    padding: 8px;
    background-color: #0288d1;
}

.txId p {
    font-size: 14px;
    margin: 0px;
    text-align: center;
}
